.navigation
        padding-top: 30px
        margin-left: 25%
        .page-title 
            display: inline-block
            vertical-align: middle
            a
                color: #ffffff
                font-family: 'Baloo'
                font-size: 17pt
        .menu-items
            display: inline-block
            margin-left: 150px
            .menu-item
                display: inline-block
                vertical-align: middle
                margin-right: 10px
                margin-left: 10px
                .menu-dropdown-items
                    position: absolute
                    background-color: #fff
                    width: 200px
                    margin-top: 20px
                    margin-left: 10px
                    border-radius: 5px
                a
                    color: #ffffff
                    font-family: 'Baloo'
                    font-size: 11pt