@media screen and (max-width:768px)
    #profile-photo
        width: 100px !important
        height: 100px !important
    .introduction
        margin-top: 30px !important
    .navigation
        margin-left: unset !important
        text-align: center !important
    .menu-items
        display: none !important
    section#home .introduction #welcome
        font-size: 20pt !important
    section#home .introduction #job
        font-size: 10pt !important
    section#contact .contact_form
        width: 80% !important
    section#contact .contact_form button
        width: 100% !important