<!DOCTYPE html>
<html lang='en'>
<head>
    <meta http-equiv='refresh' content='3;https://yuuhiroka.be'>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>404 PAGE NOT FOUND</title>
    <link href="https://fonts.googleapis.com/css?family=Baloo+2&display=swap" rel="stylesheet">
</head>
<body>
    <style>
        *{font-family:'Baloo 2'}.error-code{font-size:69pt;color:#474747;text-align:center}.error-code span{display:block;line-height:0}.error-code small{font-size:39pt}
    </style>
    <h2 class='error-code'><span>404</span><small>page not found</small></h2>
</body>
</html>