<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Admin Login</title>
    <link rel='stylesheet' href='{site.url}/application/assets/css/global.min.css'>
</head>
<body id='admin-login'>
    <form action='{site.url}/admin/login' class='adminLogin_Form'  method='post' autocomplete='off'>
        <h2 class='adminLogin_Welcome'>Sign in to ACP</h2>
        <div class='adminLogin_Error'>{login.error}</div>
        <input type='text' name='username' class='adminLogin_Field' placeholder='Jack Sparrow' autofocus required>
        <input type='password' name='password' class='adminLogin_Field' placeholder='••••••••••••••••' required>
        <button type='submit' class='adminLogin_Btn'>Sign In</button>
    </form>
</body>
</html>