<!DOCTYPE html>
<html lang='{site.lang}'>
<head>
    <meta http-equiv='Content-Type' content='text/html;charset=UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no'>
    <meta name='twitter:card' content='summary'>
    <meta name='twitter:site' content='@yuuhirokabe'>
    <meta name='twitter:creator' content='@yuuhirokabe'>
    <meta property='og:type' content='website'>
    <meta property='og:site_name' content='yuuhiroka.be'>
    <meta property='og:url' content='https://www.yuuhiroka.be'>
    <meta property='og:title' content='YUUHIROKA.BE - yuuhirokabe'>
    <meta property='og:description' content='Alekss Brigmanis-Briģis also known as Yuu Hirokabe is website developer and cybersecurity technician.'>
    <meta name='description' content='Alekss Brigmanis-Briģis also known as Yuu Hirokabe is website developer and cybersecurity technician.'>
    <meta name='keywords' content='programming,programmer,coding,hacking,hacker.white hat,black hat,pentesting,php,python,sql,yuu,hirokabe,yuuhirokabe,hirokabeyuu,yuu hirokabe,ゆう,ヒロカベ,ゆうヒロカベ,ヒロカベゆう'>
    <title>YUUHIROKA.BE - yuuhirokabe</title>
    <link rel='alternate' hreflang='en' href='https://www.yuuhiroka.be'>
    <link rel='alternate' hreflang='lv' href='https://www.yuuhiroka.be/lv'>
    <link rel='alternate' hreflang='ru' href='https://www.yuuhiroka.be/ru'>
    <link rel='alternate' hreflang='ja' href='https://www.yuuhiroka.be/ja'>
    <link rel='canonical' href='https://www.yuuhiroka.be'>
    <link rel='icon favicon' type='image/x-icon' href='favicon.ico'>
    <link rel='stylesheet' href='application/assets/css/global.min.css?v=20'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Baloo&display=swap'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans&display=swap'>
</head>
<body>
    <section id='home'>
        <div class='navigation'>
            <div class='page-title'><a href='#'>yuuhiroka.be</a></div>
            <ul class='menu-items'>
                <li class='menu-item'><a href='#home' lang='{site.lang}'>{nav.home}</a></li>
                <li class='menu-item'><a href='#about-me'>{nav.about}</a></li>
                <li class='menu-item'><a href='#'>{nav.contact}</a></li>
                <li class='menu-item dropdown'>
                    <a href='javascript:'><span>{nav.language}</span><i class="fas fa-angle-down" style='margin-left:5px;position:relative;top:1px'></i></a>
                    <ul class='menu-dropdown-items'>
                        <li><a href='lv' hreflang='lv'>Latviešu</a></li>
                        <li><a href='ru' hreflang='ru'>Русский</a></li>
                        <li><a href='en' hreflang='en'>English</a></li>
                        <li><a href='ja' hreflang='ja'>日本語</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class='introduction'>
            <style>#social li{display:inline-block;margin-right:5px;margin-left:5px;font-size: 14pt}#social{color:#fff;margin-top:10px}</style>
            <img src='application/assets/img/profile-min.jpg' id='profile-photo' alt='profle.jpg'>
            <div id='welcome'>{profile.name}</div>
            <div id='job'>{profile.job}</div>
            <ul id='social'>
                <li><a target='_blank' rel='noopener' href='https://www.facebook.com/yuuhirokabe'><i class="fab fa-facebook-square"></i></a></li>
                <li><a target='_blank' rel='noopener' href='https://www.instagram.com/yuuhirokabe_official'><i class="fab fa-instagram-square"></i></li>
                <li><a target='_blank' rel='noopener' href='https://www.github.com/yuuhirokabe'><i class="fab fa-github-square"></a></i></li>
                <li><a target='_blank' rel='noopener' href='https://www.twitter.com/yuuhirokabe'><i class="fab fa-twitter-square"></a></i></li>
                <li><a target='_blank' rel='noopener' href='https://www.youtube.com/channel/UCS0xt07QbfG4r9zu71Bd63Q?view_as=subscriber'><i class="fab fa-youtube-square"></a></i></li>
            </ul>
        </div>
        <div class='mouse-wheel'>
            <div id='mouse'><div id='wheel'></div></div>
        </div>
    </section>
    <section id='about-me'>
        <style>@media screen and (max-width:768px){section#about-me .section-title{margin-top:10%!important;font-size:18pt!important}.description-about-me{width:90%!important}}section#about-me{background-color:#270209;color:#fff5f7;font-family:'open sans'}section#about-me .section-title{text-align:center;color:#fff5f7;margin-top:5%;font-weight:700;font-size:23pt;text-transform:uppercase}.description-about-me{font-size:12pt;text-align:center;width:35%;margin:30px auto}</style>
        <h2 class='section-title'>{about.title}</h2>
        <div class='description-about-me'>
            <span>
                {about.content}
            </span>
        </div>
    </section>
    <section id='contact'>
        <style>section#contact{background-color:#270209;color:#fff5f7;text-align:center;font-family:'open sans';font-weight:700;text-transform:uppercase}section#contact .section-title{text-align:center;color:#fff5f7;margin-top:5%;font-weight:700;font-size:23pt;text-transform:uppercase}</style>
        <h2 class='section-title'>Contact us</h2>
        <small>Nothing here yet!</small>
    </section>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115524892-3"></script>
    <script>function gtag(){dataLayer.push(arguments)}window.dataLayer=window.dataLayer||[],gtag("js",new Date),gtag("config","UA-115524892-3");</script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
    <script src="https://kit.fontawesome.com/e273aff0fd.js" crossorigin="anonymous"></script>
    <script src='application/assets/js/site.js'></script>
</body>
</html>